<%- include("components/header"); -%>
  <form action="/compose" method="post">
    <input type="text" name="title">
    <textarea name="post" cols="30" rows="10"></textarea>

    <button type="submit">Publish</button>
  </form>

  <%- include("components/footer"); -%>